[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
torch = "*"
torchvision = "*"
neptune-client = "*"
jupyterlab = "*"
scikit-image = "*"
psutil = "*"
numba = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.9"
